body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.card-contents {
    margin-bottom: 20px; /* 下側に隙間を設定 */
}

.button {
    margin-top: 20px; /* 上側に隙間を設定 */
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.hight-adjust {
  height: 20em;
}

body.home-page {
  background-image: url('/myihqs/images/background.jpg'); /* 背景画像のパスを適宜変更 */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container.home-page {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 80%;
}

.container.welcome-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 80%;
    margin: auto;

    &::before,

    &::before {
        transform: translate(-50%, -50%);
    }
}

.button.home-page {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.welcome-text {
    color: #ff9900; /* 目立つ色に変更 */
    font-size: 24px; /* フォントサイズを調整 */
}