/* フォントを統一するスタイル */
body, h1, h2, h3, h4, h5, h6, p, label, input, select, textarea {
    font-family: "Arial", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.text-center{
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* ボーダーを削除 */
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: black; /* テキストの色を黒に設定 */
  //color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.hight-adjust {
  height: 20em;
}

body.home-page {
  background-image: url('/myihqs/images/background.jpg'); /* 背景画像のパスを適宜変更 */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container.home-page {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 80%;
}

.container.welcome-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 80%;
    margin: auto;
    &::before,
    &::before {
        transform: translate(-50%, -50%);
    }
}

.button.home-page {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.welcome-text {
    color: #ff9900; /* 目立つ色に変更 */
    font-size: 24px; /* フォントサイズを調整 */
}


body.admin-page {
    //background-image: url('/myihqs/images/background-layouts-admin.jpg');
    //background-size: cover;
    //background-position: center top; /* 背景画像を中央上部に配置 */
    //display: flex;
    //justify-content: center;
    align-items: center;
    //height: 100vh;
}

.bg-cover {
    background-image: url(/myihqs/images/background-layouts-admin.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* コンテンツより背景を奥に配置 */
}


.navbar.navbar-expand-md.navbar-light.navbar-laravel {
    background-color: transparent; /* ナビゲーションバーの背景色を透明にする */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* ログインボックスの背景を白色半透明にする */
.login-box {
    border: none;
    background-color: transparent;
}

.login-header {
    background-color: rgba(255, 255, 255, 0.7); /* 背景色を白色にし、透明度を設定 */
    padding: 20px; /* 必要に応じて余白を調整 */
}

.login-body {
    background-color: rgba(255, 255, 255, 0.7); /* 背景色を白色にし、透明度を設定 */
    padding: 20px; /* 必要に応じて余白を調整 */
}


/* 白い半透明の箱のスタイル */
.white-transparent-box {
    background-color: rgba(255, 255, 255, 0.7); /* 白色の半透明背景 */
    padding: 20px; /* 必要に応じて余白を調整 */
    border: 1px solid #ccc; /* 枠線を追加 */
    border-radius: 10px; /* 角丸にする場合、必要に応じて調整 */
}

.white-second-transparent-box {
    background-color: rgba(255, 255, 255, 0.7); /* 白色の半透明背景 */
    padding: 20px; /* 必要に応じて余白を調整 */
    border: 1px solid #ccc; /* 枠線を追加 */
    border-radius: 10px; /* 角丸にする場合、必要に応じて調整 */
    margin-top: 20px; /* 上部に感覚を追加 */
}

.white-white-box {
    background-color: #fff; /* 白色の背景 */
    padding: 20px; /* 必要に応じて余白を調整 */
    border: 1px solid #ccc; /* 枠線を追加 */
    border-radius: 10px; /* 角丸にする場合、必要に応じて調整 */
}

/* 新しいクラスを作成 */
.margin-bottom {
    margin-bottom: 20px; /* 必要なマージンの値を設定 */
}
